.button {
  background-color: var(--primary);
  color: var(--text-over-primary);
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 0.4rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: var(--link-hover);
}
