.button {
  width: 22rem;
  height: 4rem;

  border: none;
  border-radius: 1rem;

  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.primary {
  background-color: var(--primary);
  color: var(--text-over-primary);
}

.primary:hover {
  background-color: var(--link-hover);
}

.destructive {
  background-color: var(--error);
  color: var(--text-over-error);
}

.destructive:hover {
  filter: brightness(0.9);
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  background-color: var(--disabled);
  color: var(--text-muted);

  cursor: not-allowed;
}

.button svg {
  width: 2rem;
  height: 2rem;
}
