.cycles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
}

.cyclesDots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.cyclesDot {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
}

.worktime {
  background-color: var(--primary);
}

.shortbreaktime {
  background-color: var(--gray-400);
}

.longbreaktime {
  background-color: var(--gray-300);
}
